/* @theme cstef */

@import "default";

pre {
    border-radius: 1em;
    padding: 1.25em 1.5em;
    margin: 0.5em 0;
    font-size: 125%;
}

h1 {
    font-size: 300%;
    margin-bottom: 0px;
}

h2 {
    font-size: 225%;
}

h3 {
    font-size: 200%;
}

li {
    font-size: 150%;
}

.MathJax {
    font-size: 150%;
}
